@media (max-width: 640px) {
    body {
        background: green;
    }
}
.content {
    width: 66.66%;
}
.sidebar {
    width: 30%;
    margin-left: 3.33%;
}
/* Landscape phone to portrait tablet */

@media (max-width: 540px) {
    body {
        background: red;
    }
    .content {
        width: 100%;
    }
    .sidebar {
        width: 100%;
        margin: 0 auto;
    }
}
/* Landscape phones and down */

@media (max-width: 320px) {
    body {
        background: yellow;
        font-size: 20px;
    }
}
